:root {
    --blndo-bg: white;
    --blndo-header-bg: #ff6900;
    --blndo-text-light: #fff4ee;
    --blndo-text-dark: black;
    --blndo-footer-bg: #1A1A1A;
    --blndo-sost_tag: #008000;
    --blndo-sale-tag: #ff0000;
    --blndo-text-soft-dark: #272626;
    --blndo-text-highlight: #ff0b20;
}


* {
    margin: 0;
    box-sizing: border-box;
    color: var(--blndo-text-light);
    font-size: 18px;
    font-weight: bold;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    ;
}

/*  utility */
.align {
    margin: 0 10%;
}

.site_bar {
    display: flex;
    justify-content: space-between;
}



.bar_text {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_side {

    justify-content: right;
}

.weird_one {
    height: 924px;
}

/* /utility */

header {
    background-color: var(--blndo-header-bg);
    padding: 1rem 0;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .logo {
        height: 45px
    }
}

/* /header */

main * {
    color: var(--blndo-text-dark);
}

main {
    margin: 10rem 0;

    #pic_display_order {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .img {
        position: relative;

        .fav {
            background-color: var(--blndo-bg);
            padding: 0.5rem 1.5rem;
            font-size: 48px;
            position: absolute;
            z-index: 10;
            top: 15px;
            right: 0px;
        }

        .tag {
            position: absolute;
            color: var(--blndo-text-light);
            padding: 0.5rem 0.75rem;
            z-index: 10;
            bottom: 55px;
        }

        .sale {
            background-color: var(--blndo-sale-tag);
            left: 0px;

        }

        .sost {
            background-color: var(--blndo-sost_tag);
            left: 75px;
        }

        .fix4sost {
            left: 0;
        }
    }



    .price {
        color: var(--blndo-text-highlight);
    }

    .og_price {
        color: var(--blndo-text-soft-dark);
        text-decoration: line-through;
        font-weight: normal;
        font-size: 16px;
    }

    .manufacturer {
        font-weight: normal;
        color: var(--blndo-text-soft-dark);
        font-size: 16px;
    }
}

/* /main */

footer * {
    font-weight: normal;
    font-size: 15px;

    h2 {
        font-size: 21px;
    }
}

footer {
    background-color: var(--blndo-footer-bg);
    padding: 1rem 0;
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    #legal {
        width: 420px;
    }

    #social {
        flex-direction: column;
    }
}

/* /footer */